html {
    font-size: 62.5%;
    /* 1rem = 10px */
    height: 100%;
  }
body{
    background-color: #9eb1bd;
    font-size: 1.6em;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
}

.title{
    text-shadow: 0.6px 0.6px #ccd7dc;
    color: #414141;
}

.box_size{
    width:100%;
    height:100%;

}

#player-input{
    background-color: #9eb1bd;
    height:50px;
    width:50px;
    padding:52px;
    border:none;
    outline: none;
    border-radius: 50%;
    font-size: 30px;
    display:flex;
    align-items: center;
    text-shadow: 0.6px 0.6px #ccd7dc;
    color: #414141;
    filter: drop-shadow(10px 10px 10px rgba(0,31,58, 0.7))
           drop-shadow(-10px -10px 10px rgba(237,250,255, 0.7));
}

#reset-game{
    background:transparent;
    outline: none;
    border: 2px dotted #414141;
    border-radius:50px;
    padding:10px;
    word-spacing: 3px;
    font-size: medium;
    text-shadow: 0.6px 0.6px #ccd7dc;
    color: #414141;
    filter: drop-shadow(10px 10px 10px black);
}

#need-hint{
    background:transparent;
    outline: none;
    border: 2px dotted #414141;
    border-radius:50px;
    padding:10px;
    word-spacing: 3px;
    font-size: medium;
    text-shadow: 0.6px 0.6px #ccd7dc;
    color: #414141;
    filter: drop-shadow(10px 10px 10px black);
}

#submit{
    background:transparent;
    outline: none;
    border: 2px dotted #414141;
    border-radius:50px;
    padding:10px;
    word-spacing: 3px;
    font-size: medium;
    position:relative;
    text-shadow: 0.6px 0.6px #ccd7dc;
    color: #414141;
    top:-30px;
    filter: drop-shadow(10px 10px 10px black);
}

#guess-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    text-shadow: 0.6px 0.6px #ccd7dc;
    color: #414141;
}